<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.estate.frontier.mapper.RealEstateInterface">
	<insert id="save"
		parameterType="com.estate.frontier.model.RealEstateInfo">
		INSERT INTO
		real_estate
		(id,projectName,
		assessReportnum, assessStartTime,
		assessEndTime, assessObject,
		valueTime, assessAim, assessMethod,
		valueType, buildingArea, floorArea,
		assessUnitPrice, assessTotalPrice,
		client, firstReporter,
		partReporter1, partReporter1RgNum,
		partReporter2, partReporter2RgNum,
		serviceSource, branchOffice,
		serviceCharge, checker, assessOrg,
		reportType,wordUri,pdfUri,firstReporterRgNum)
		VALUES(#{id},#{projectName}, #{assessReportNum},
		#{assessStartTime},
		#{assessEndTime}, #{assessObject}, #{valueTime},
		#{assessAim}, #{assessMethod},
		#{valueType}, #{buildingArea},
		#{floorArea}, #{assessUnitPrice},
		#{assessTotalPrice}, #{client},
		#{firstReporter}, #{partReporter1},
		#{partReporter1RgNum},
		#{partReporter2},
		#{partReporter2RgNum},#{serviceSource},#{branchOffice},
		#{serviceCharge}, #{checker},#{assessOrg}, #{reportType}
		,#{wordUri}, #{pdfUri}, #{firstReporterRgNum});
	</insert>
	<update id="update"
		parameterType="com.estate.frontier.model.RealEstateInfo">
		UPDATE
		real_estate SET
		projectName=#{projectName}, assessReportNum=#{assessReportNum},
		assessStartTime=#{assessStartTime},assessEndTime=#{assessEndTime},
		assessObject=#{assessObject}, valueTime=#{valueTime},
		assessAim=#{assessAim}, assessMethod=#{assessMethod},
		valueType=#{valueType}, buildingArea=#{buildingArea},
		floorArea=#{floorArea}, assessUnitPrice=#{assessUnitPrice},
		assessTotalPrice=#{assessTotalPrice}, client=#{client},
		firstReporter=#{firstReporter}, partReporter1=#{partReporter1},
		partReporter1RgNum=#{partReporter1RgNum},partReporter2=#{partReporter2},
		partReporter2RgNum=#{partReporter2RgNum},serviceSource=#{serviceSource},
		branchOffice=#{branchOffice},serviceCharge=#{serviceCharge},
		assessOrg=#{assessOrg},
		reportType=#{reportType}, firstReporterRgNum=#{firstReporterRgNum},
		<if test="wordUri !=null and wordUri !=''">
			 wordUri=#{wordUri},
		</if>
		<if test="pdfUri !=null and pdfUri !=''">
			 pdfUri=#{pdfUri},
		</if>
		<if test="checker !=null and checker !=''">
			checker=#{checker},
		</if>
		id=#{id}
		WHERE id=#{id}
	</update>
	<delete id="delete" parameterType="int">
		DELETE from real_estate WHERE id = #{id}
	</delete>
	<select id="get" parameterType="int"
		resultType="com.estate.frontier.model.RealEstateInfo">
		select id,projectName,
			assessReportNum, assessStartTime,
			assessEndTime, assessObject,
			valueTime, assessAim, assessMethod,
			valueType, buildingArea, floorArea,
			assessUnitPrice, assessTotalPrice,
			client, firstReporter,
			partReporter1, partReporter1RgNum,
			partReporter2, partReporter2RgNum,
			serviceSource, branchOffice,
			serviceCharge, checker, assessOrg,
			reportType ,wordUri,pdfUri,firstReporterRgNum from real_estate
		where id=#{id}
	</select>
	<update id="updateUri">
		UPDATE
		real_estate SET
		upFileURI =#{params.zipUri}
		WHERE
		id=#{params.id}
	</update>
</mapper>